
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <% if logged_in?%>
      <h1>Please Choose Payment Method</h1>
    <% else %>
      <h1>Please Filling your information</h1>
    <% end %>
    <%= render 'form' %>
    <%= link_to 'Continue Shopping', root_path %>
  </div>
  
</div>

